.optDiv {
  /* border: 1px solid red; */
  width: 80%;
  margin: 50px auto;
  padding: 20px 30px;
  background-color: #f5f5f5;
  text-align: left;
}
.opt_img {
  /* border: 1px solid green; */
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

/* Covers options */
.opt {
  /* border: 1px solid red; */
  width: 60%;
  padding: 40px;
  margin: 0px 50px 70px 0px;
  background-color: white;
}
.inputsDiv {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  justify-content: space-between;
}
.inputsDiv > select {
  height: 40px;
  width: 240px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.inputsDiv > input {
  height: 35px;
  width: 240px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid grey;
}
.inputsDiv > button {
  height: 40px;
  width: 130px;
  border: none;
  font-size: 20px;
  background-color: rgb(255, 230, 5);
  border-radius: 5px;
  cursor: pointer;
}

/* popular options */
.popular{
  padding-bottom: 30px;
}
.popular > p {
  color: rgb(138, 136, 136);
}
.pop_opt {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  margin-top: 20px;
  width: 80%;
  gap: 20px 100px;
}

.pop_opt > p {
  color: #3f3f3f;
  width: 80px;
  cursor: pointer;
}

/* Image */
.image {
  /* border: 1px solid rgb(0, 38, 255); */
  width: 20%;
}
.image > img {
  width: 100%;
}

/* Extra information */
.extra_info {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  padding: 30px 20px;
  text-align: left;
}
.extra_info > b {
  font-size: 12px;
  color: #5e5c5c;
}
.extra_info > p {
  margin-top: 5px;
  font-size: 14px;
  color: #a1a1a1;
}
